In [34]:
# importing libraries
import numpy as np
import pandas as pd
from pathlib import Path
import hvplot.pandas
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
import time
from sklearn.preprocessing import StandardScaler
from pandas.tseries.offsets import DateOffset

In [42]:
all_values = pd.read_csv(Path("Resources/all_values.csv"))
all_values['date'] = pd.to_datetime(all_values['date'], format='%Y-%m')
all_values.set_index('date', inplace=True)
#all_values.index = all_values.index.strftime('%Y-%m')

In [43]:
y = all_values["Composite"]

In [44]:
X = all_values.drop(columns = "Composite")

In [45]:
y

date
2008-06-01    319000.0
2008-07-01    317800.0
2008-08-01    316800.0
2008-09-01    315900.0
2008-10-01    312700.0
                ...
2022-12-01    874300.0
2023-01-01    859300.0
2023-02-01    853200.0
2023-03-01    858500.0
2023-04-01    877400.0
Name: Composite, Length: 179, dtype: float64

In [46]:
X

,Lumber,Wood,XHB,ITB,All-items 8,Food,Shelter,"Household operations, furnishings and equipment",Clothing and footwear,Transportation,Health and personal care,"Recreation, education and reading","Alcoholic beverages, tobacco products and recreational cannabis",All-items excluding food,All-items excluding food and energy
date,,,,,,,,,,,,,,,
2008-06-01,254.96,48.860001,20.260000,17.610001,114.9,115.2,122.3,104.3,94.0,124.0,108.3,102.3,127.7,114.9,110.3
2008-07-01,261.80,48.529999,18.690001,16.480000,115.4,116.0,123.3,104.5,94.8,124.0,108.4,102.2,127.6,115.2,110.4
2008-08-01,270.10,49.169998,19.730000,16.530001,115.4,116.8,123.8,104.5,94.3,122.4,109.3,102.5,127.5,115.0,110.6
2008-09-01,240.70,49.919998,22.370001,19.750000,115.5,118.0,123.1,105.4,94.0,122.3,109.2,102.4,128.0,115.0,110.6
2008-10-01,199.50,44.180000,20.110001,18.150000,114.7,118.5,123.2,105.2,92.7,118.3,109.3,102.2,128.0,113.9,110.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-01,425.60,76.900002,63.290001,62.840000,154.3,178.7,167.8,132.7,96.1,168.6,142.0,124.6,185.2,149.8,144.8
2023-01-01,527.70,78.440002,69.449997,69.570000,154.7,180.4,168.0,132.2,95.8,168.2,142.7,124.6,186.5,149.9,145.0
2023-02-01,510.40,79.949997,72.269997,73.209999,154.9,181.2,168.3,133.3,96.6,166.9,143.4,124.3,187.4,150.1,145.5
2023-03-01,452.40,75.389999,68.809998,70.290001,155.3,182.0,168.9,133.2,96.9,166.5,144.2,124.9,188.7,150.4,146.0
2023-04-01,424.60,72.980003,70.919998,75.790001,156.2,182.9,169.9,133.4,96.7,168.3,144.9,125.5,189.1,151.3,146.5

In [52]:
training_begin = X.index.min()
print(training_begin)
training_end = X.index.min() + DateOffset(months=50)
print(training_end)

2008-06-01 00:00:00
2012-08-01 00:00:00

In [53]:
X_train = X.loc[training_begin:training_end]
y_train = y.loc[training_begin:training_end]

In [54]:
X_test = X.loc[training_end:]
y_test = y.loc[training_end:]

In [55]:
# Create a StandardScaler instance
scaler = StandardScaler()
 
# Apply the scaler model to fit the X-train data
X_scaler = scaler.fit(X_train)
 
# Transform the X_train and X_test DataFrames using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)